@font-face {
  font-family: "miaoji"; /* Project id 4408203 */
  src: url('/static/iconfont.ttf') format('truetype');
}

.miaoji {
  font-family: "miaoji" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mj-flower:before {
  content: "\e610";
}

.mj-reloadtime:before {
  content: "\e789";
}

.mj-logout:before {
  content: "\e78c";
}

.mj-layout:before {
  content: "\e794";
}

.mj-creditcard:before {
  content: "\e7de";
}

.mj-stop:before {
  content: "\e842";
}

.mj-wechat:before {
  content: "\e61e";
}

.mj-alipay:before {
  content: "\e61f";
}

.mj-bank-card:before {
  content: "\e620";
}

.mj-balance:before {
  content: "\e621";
}

.mj-second:before {
  content: "\e6ad";
}

.mj-tea:before {
  content: "\e605";
}

.mj-wallet:before {
  content: "\e606";
}

.mj-yuan-circle:before {
  content: "\e607";
}

.mj-earth:before {
  content: "\e608";
}

.mj-vip:before {
  content: "\e609";
}

.mj-blank-calendar:before {
  content: "\e60a";
}

.mj-income:before {
  content: "\e60b";
}

.mj-study:before {
  content: "\e60c";
}

.mj-recreation:before {
  content: "\e60d";
}

.mj-bus:before {
  content: "\e60e";
}

.mj-lipstick:before {
  content: "\e60f";
}

.mj-loop:before {
  content: "\e611";
}

.mj-medical:before {
  content: "\e612";
}

.mj-navigation-arrow:before {
  content: "\e613";
}

.mj-paintbrush:before {
  content: "\e614";
}

.mj-pet:before {
  content: "\e615";
}

.mj-individuation:before {
  content: "\e616";
}

.mj-other-income:before {
  content: "\e617";
}

.mj-shopping:before {
  content: "\e618";
}

.mj-meal:before {
  content: "\e619";
}

.mj-communication:before {
  content: "\e61a";
}

.mj-transfer:before {
  content: "\e61b";
}

.mj-human-group:before {
  content: "\e61c";
}

.mj-fruit:before {
  content: "\e61d";
}

